[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
isort = "*"
coverage = "*"
pytest = "*"
more-itertools = "*"
importlib-metadata = "*"

[packages]
lxml = "*"
python-dotenv = "*"
watchdog = "*"
Flask-RESTful = "*"
requests = "*"
pyyaml = "*"
flask = "*"

[requires]
python_version = "3.6"
