{% extends 'cxml/request-base.html' %}

{% block header %}
  <h1>{% block title %}cXML Request{% endblock %}</h1>
{% endblock %}

{% block cxml_subst_vars %}
{{ super() }}
<label for="browser_post_form">Browser Post Form</label>
<input name="browser_post_form" id="browser_post_form" value="{{ browser_post_form }}">
{% endblock %}

{% block cxml_content_bottom_extra %}
Start URL: {% if start_url %}<a href="{{ start_url }}" target="_blank">{{ start_url }}</a><br/>
  <iframe name="provider_site" class="provider-site" src="{{ start_url }}"></iframe>
{% endif %}
{% endblock %}
