<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('cxml.cxml_request') }}">Punchout Tester</a></h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    {% if message %}
      <div class="flash">{{ message }}</div>
    {% endif %}
  {% endfor %}
  {% block content %}{% endblock %}
</section>
